@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import 'tailwindcss';

:root {
  /* On définit tes variables hexadécimales ici */
  --background: #000000;
  --foreground: #ffffff;
  --brand-blue: #49c7ff;
  --light-blue-text: #cfe8ff;
  --dark-bg: #081222;
  --font-retro: 'Press Start 2P', system-ui, cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* syntaxe : x-offset | y-offset | blur | spread | color */
  --shadow-neon: 0 0 30px 4px rgba(73, 199, 255, 1);

  /* On lie les variables CSS à des noms utilisables dans Tailwind */
  /*   brand fait référence à une convention de nommage pour dire que ce sont les couleurs personnalisées du projet. */
  --color-brand-border: var(--brand-blue);
  --color-brand-text: var(--light-blue-text);
  --color-brand-card: var(--dark-bg);
  --font-retro: var(--font-retro);
}
